<?xml version="1.0" encoding="UTF-8" ?>
<!--DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" -->
<suite name="Selenium Project" parallel="classes">
      <test name="ProjectActivities">
        <classes>
         <class name="project.ProjectActivity1" />
          <class name="project.ProjectActivity2" />
           <class name="project.ProjectActivity3" />
            <class name="project.ProjectActivity4" />
             <class name="project.ProjectActivity5" />
              <class name="project.ProjectActivity6" />
               <class name="project.ProjectActivity7" />
                <class name="project.ProjectActivity8" />
                 <class name="project.ProjectActivity9" />
        </classes>
    </test>
</suite>

